/* .background {
  background-image: url('../assets/dj_hands_purples.jpg');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
} */

/* this was just a test for bg images */
